body {
    font-family: mulish;
}

.row {
    /* background-color: aquamarine; */
}

.col {
    /* background-color: red; */
}
.col-8 {
    /* background-color: rgb(223, 75, 42); */
}

.col-4 {
    /* background-color: blueviolet; */
}

.col-md-2 {
    background-color: blue;
}

/* Variable */

.list-group {
    background-color:#363740;
    color: #A4A6B3;
    text-align: left;
}

.list-group-item {
    border: none !important;
    text-align: left !important;
    background-color:#363740;
    color: #A4A6B3;
}

.charte {
    border: 1px solid #DFE0EB !important;
    border-right: none !important;
}

.list-group-item.rte {
    border: 1px solid #DFE0EB !important;
    background-color:#FFFFFF;
    color: #A4A6B3;
}

.list-group-item.active {
    background-color: #9fa2b436 !important;
  }

.title h1 {
    padding-top: 32px;
    padding-bottom: 24px;
    padding-left: 16px;
    font-weight: 700;
    font-size: 19px;
}

.border {
    border: solid 1px #3751FF !important;
    color: #3751FF;
}

.cts p{
    font-family: mulish;
    font-size: 16px;
    color: #9FA2B4;
}

.cts h5{
    font-family: mulish;
    font-size: 24px;
    font-weight: 700;
    color: #252733;
}